{{#each products}}
                <div class="product-pictures" style="text-align: center;">
                    <a href="/products/{{_id}}"><img src=" {{product_image}} " alt="Fotograf Bulunamadı">
                        <h1>{{title}} ({{weightamount}} Kg)</h1>
                        <p style="font-size: 22px;">{{price}} ₺</p>
                    </a>
                </div>
{{/each}}